@model RecipesProjects.Models.MovieAPI

<table class="table">
    <tr>
        <th>Title</th>
        <
        <th>Year</th>
        <th>Rated</th>
        <th>Released</th>
        <th>Director</th>
        <th>Genre</th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Model.Title
        </td>
        <td>
            @Model.Year
        </td>
        <td>
            @Model.Rated
        </td>
        <td>
            @Model.Released
        </td>
        <td>
            @Model.Director
        </td>
        <td>
            @Model.Genre
        </td>
    </tr>
</table>
<h2>@Html.ActionLink("Would like to search for  more movies", "Index", "Home")</h2>

<h2>@Html.ActionLink("View your list of movies!", "Index", "MovieAPIs1")</h2>


