@model RecipesProjects.Models.MovieAPI

<h2>Movie Details:</h2>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Rated</th>
        <th>Released</th>
        <th>Director</th>
        <th>Genre</th>
        <th></th>

    </tr>
    
    <tr>

        <td>@Model.Title</td>
        <td>@Model.Year</td>
        <td>@Model.Rated</td>
        <td>@Model.Released</td>
        <td>@Model.Director</td>
        <td>@Model.Genre</td>
      
    </tr>
    }
</table>
